include mixin.pug
head
  title kappe
  meta(charset="utf8")
  meta(name="viewport" content="width=device-width")
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  link(rel="stylesheet" href="css/styles.css")
  -
    var text = `
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In volutpat rhoncus augue. Fusce sit amet lectus lorem. Aenean vel risus odio. Sed id molestie justo. Donec tristique, metus vitae tincidunt malesuada, orci dui pellentesque diam, tincidunt rutrum elit ex et ex. Nulla tempus enim quis est vestibulum, a sodales eros pellentesque. Nullam bibendum odio vel nulla pulvinar, et pulvinar massa iaculis. Vestibulum in libero condimentum, porttitor odio nec, tempor enim. Aenean sit amet dapibus eros. Nunc porttitor odio vitae sodales dictum. Vivamus vitae condimentum lorem. Aenean vitae auctor sapien. Pellentesque mollis nulla sed mauris sollicitudin rutrum.
    `