.portfolio-item__wrap
  a(href="#").portfolio-item
    .portfolio-item__content
      .portfolio-item__title
        |Cool App Design
      .portfolio-item__tags
        |development, mobile
      .portfolio-item__showmore
        <i class="fas fa-arrow-right"></i>
    .portfolio-item__inner
      picture
        img(src="img/content/1.jpeg" alt="")